$background-dark : #18191A;
$color-dark : #E4E6EB;
$classy-blue : #2D88FF;
$light-dark : #606770;
$blue-text : #1877F2;
$active-blue : #3578E5;
$notification-color : #FA383E;
$button-pressed : #77A7FF;
$disabled-text : #BEC3C9;
$nabg : #4267B2;
$dark-navbar-bg : #242526;
$border-bottom : #33363A;

@font-face{
    font-family: myfont;
    src: url(Fonts/Roboto-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

body{
    background: $background-dark;
}

h1, h2, h3, h4, h5, h6,p{
    color: $color-dark;
}

.navbar{
    background: $dark-navbar-bg;
    padding: 25px;
    border-bottom: $border-bottom solid 1px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
.nav-title{
    h2{
        color: $active-blue;
    }
}

.search-btn{
    color: $color-dark;
    background-color: $light-dark;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
        color: $border-bottom;
    }
    margin: 0px 8px;
}