$background-dark : #18191A;
$color-dark : #E4E6EB;
$classy-blue : #2D88FF;
$light-dark : #606770;
$blue-text : #1877F2;
$active-blue : #3578E5;
$notification-color : #FA383E;
$button-pressed : #77A7FF;
$disabled-text : #BEC3C9;
$nabg : #4267B2;
$dark-navbar-bg : #242526;
$border-bottom : #33363A;
$shadow : #888888;
$lower-color : #e4e6ebd3;
$lower-c2: #e4e6ebb4;
$lower-c3: #e4e6ebd0;