@import 'variables';
@font-face{
    font-family: myfont;
    src: url(Fonts/Roboto-Black.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

a{
    color: $button-pressed;
}

.danger{
    color: $notification-color;
}

.warning{
    color: rgb(255, 208, 0);
}

body{
    background: $background-dark;
}

h1, h2, h3, h4, h5, h6,p{
    color: $color-dark;
}

.navbar{
    background: $dark-navbar-bg;
    padding: 25px;
    border-bottom: $border-bottom solid 1px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    box-shadow: 3px 3px 25px $shadow;
    margin-bottom: 20px;
}
.nav-title{
    h2{
        color: $active-blue;
    }
}
.profile_image_nav{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid $nabg;
    transform: translateY(11px);
}
.search-btn{
    color: $color-dark;
    background-color: $light-dark;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover{
        color: $border-bottom;
    }
    margin: 0px 8px;
}
.search_in{
    border-radius: 20px;
    background: $light-dark;
    color: $color-dark;
    outline: none;
    border: none;
    padding: 4px;
}

.d-none{
    display: none;
}

.navitem{
    a{
        color: $classy-blue;
        font-size: 28px;
        padding: 3px 18px;
        transition: 0.3s ease;
        &:hover{
            background: $light-dark;
            border-radius: 5px;
            color: $active-blue;
        }
    }
    position: relative;
    left: 30%;
}

.barsline{
    color: $blue-text;
    padding: 3px 10px;
    background-color: $light-dark;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    float: right;
    margin: 0 10px;
    display: none;
}
.navitem-t{
    a{
        color: $classy-blue;
        font-size: 28px;
        padding: 3px 18px;
        transition: 0.3s ease;
        &:hover{
            background: $light-dark;
            border-radius: 5px;
            color: $active-blue;
        }
    }
    position: fixed;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: $light-dark;
    width: 100%;
    left: 0px;
    top: -9px;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 594px) {
    .navitem{
        display: none;
    }
    .barsline{
        display: block;
    }
  }
 
