{% extends 'base.html' %}
{% block header %}
<center>
    <div class="information">
        <label for="" class="holder">
            <p>Email</p>
        </label>
        <input type="email" name="" placeholder="Email" id="email" class="form_control">
        <label for="" class="holder">
            <p>Password</p>
        </label>
        <input type="password" name="" placeholder="Password" id="password" class="form_control">
        <br>
        <button class="signup" id="signup">Sign In</button>
        <br>
        <div class="warinings">
            <p class="w">Fillout The form</p>
            <p>Dont have an <a href="/signup">account?</a></p>
        </div>
    </div>
</center>


{% block foot %}
{% endblock %}

{% endblock %}